.product-item {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
  }
  
  .product-item .details {
    text-align: center;
  }
  
  .product-item.sale {
    background-color: rgb(7, 146, 7);
  }
  .product-item.nosale {
    background-color: rgb(180, 180, 180);
  }